<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
	<link type="text/css" rel="stylesheet" href="../static/css/indexButtonStyle.css"/>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/indexButtonStyle.css') }}">
</head>
	<div class="buttonbox">
		<form action="/search/" method="post">
			<button class = "class-searchinfo" name="search" type="submit">查询</button>
		</form>	
		<form action="/buy/" method="post">
			<button class = "class-searchinfo" name="buy" type="submit">购票</button>
		</form>	
		<form action="/unbuy/" method="post">
			<button class = "class-searchinfo" name="unbuy" type="submit">退票</button>
		</form>	
	</div>
<body>
</body>
</html>
